APP_ENV=production
APP_NAME=KWL Backend
APP_DEBUG=0

DB_HOST=192.168.1.52
DB_PORT=3306
DB_NAME=kwl_lavanderia
DB_USER=backend
DB_PASS=change_me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MQTT_HOST=192.168.1.53
MQTT_PORT=1883
MQTT_USER=kwl
MQTT_PASS=change_me
MQTT_BRIDGE_CLIENT_ID=kwl_mqtt_bridge
