############################
# SISTEMA / EDITORES
############################
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.iml

############################
# NODE.JS / JAVASCRIPT
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
.out/
.cache/

.env
.env.*
!.env.example

############################
# FRAMEWORKS JS
############################
.next/
.nuxt/
.svelte-kit/
.parcel-cache/
.vite/

############################
# PHP
############################
vendor/
composer.phar

############################
# COMPOSER
############################
composer.lock

############################
# TESTING / COVERAGE
############################
coverage/
.nyc_output/

############################
# SERVIDORES / DEPLOY
############################
.htaccess
.htpasswd

############################
# MISC
############################
*.sqlite
*.sqlite3
*.db
.metadata/
node_modules/
.env
dist/
build/
.vscode/
.metadata/
.DS_Store
Recursos/
bootstrap-5.3.8-dist/
Paquete_Bootstrap.zip/
bootstrap/
vendor/
node_modules/
Soluciones/
03_Recursos/_Fotos/
03_Recursos/Programas/
*.msi
*.fig
.gitignore
.git/
Notas/
Lavanderia QWL.pdf
Backupper/
05_KWL/
Acceso.md
node_modules/
dist/
.env
.env.*.local
npm-debug.log*
02_Desarrollo/Versiones
