###############################################
# Sistema / Editores
###############################################
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# JetBrains
.idea/
*.iml

# Windows / macOS
.metadata/

###############################################
# Node.js / JavaScript
###############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.logs/
.run/

# Builds
dist/
build/
.out/
.cache/

###############################################
# Entornos (env)
###############################################
.env
.env.*
!.env.example

###############################################
# Frameworks JS
###############################################
.next/
.nuxt/
.svelte-kit/
.parcel-cache/
.vite/

###############################################
# PHP / Composer
###############################################
vendor/
composer.phar
composer.lock

###############################################
# Backend / Servidores / Deploy
###############################################
.htaccess
.htpasswd

# SQLite / DB local
*.sqlite
*.sqlite3
*.db

###############################################
# Archivos y directorios del repo (proyecto)
###############################################
Recursos/
# Fotos y programas: se excluyen a nivel de repo
03_Recursos/_Fotos/
03_Recursos/Programas/

# Instaladores / artefactos locales
*.msi
*.fig

# Git y notas locales
.git/
Notas/

# Ejecutables/privados y documentación local
Privado_KWL
Lavanderia QWL.pdf
Backupper/
Acceso.md
real/
_VERSIONES/
# Carpeta de trabajo / configuraciones locales
02_Desarrollo/Versiones
02_Desarrollo/context

# Temporal/Tareas
TODO.md
00_Presentacion/Acceso/
*.zip
*.zip
