AUTH_TOKEN_SECRET=change-this-secret
MARIADB_ROOT_PASSWORD=demo
MARIADB_DATABASE=kwl_lavanderia
CAMERA_BASE_URL=
CAMERA_USER=
CAMERA_PASS=
CAMERA_STREAM_USER=
CAMERA_STREAM_PASS=
CAMERA2_BASE_URL=
CAMERA2_USER=
CAMERA2_PASS=
CAMERA2_STREAM_USER=
CAMERA2_STREAM_PASS=
